dependencies/build/*
dependencies/cache/*
dependencies/tmp/*
xcuserdata
/app-*
/dist/*
/sphinx/_build
.DS_Store
prototype/prebuilt/
prototype/prototype.xcodeproj/project.xcworkspace/
prototype/base/
*.pyc
*.pyo
